nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}   

nav li {
    display: inline-block;
    border: 1px solid black;
    width: 215px;
    margin-right: 20px;
    background-color: red;
}

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    background-color: maroon;
}