body {
    background-image: url('waves.jpg');
    
}   

header1 h1 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    background-color: white;
    padding: 20px;
}

.bordertop {
    border-top: 3px solid black;
    padding-top: 20px;
}

nav {
    padding: 20px;
}   

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}   

nav li {
    display: inline-block;
    width: 165px;
    margin-right: 20px;
    background-color: navy;
}

nav li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav li a:hover {
    background-color: blue;
}

main {
    text-align: justify;
    background-color: white;
    padding: 20px;
    a {
        color: blue;
        font-weight: bold;
        text-decoration: none;
    }   
    a:hover {
        color: red;
        text-decoration: underline;
    }   
}

header2 h2 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}   

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border: 3px solid white;
    padding: 20px;
    background-color: navy;
}